.bef::before{
  background: rgb(13, 42, 72);
}
.bef::after{
  background: rgb(13, 42, 72);
}


/* .scrollAnim{
  animation: scroll 2s infinite linear;
} */

@keyframes scroll {
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-110%);
  }
}